<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <h4>
        Username: <%= @user.username %>
        </br>
        Email: <%= @user.email %>
    </h4>


    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Image
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% Photo.where(user_id: @user.id).each do |photo| %>
      <tr>
        <td>
          <%= photo.id %>
        </td>

        <td>
          <%= photo.caption %>
        </td>

        <td>
          <img src="<%= photo.image %>"
        </td>

        <td>
          <%= photo.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
